<h1>Welcome to your Gear Rack, <%= @user.name %></h1>
<br>
<a href="/boxes/new">Create New Box</a>
<br>
<% if @user.boxes.empty? %>
  <br>
  <p>You don't have any boxes yet, create one above!</p>
<% else %>
  <% @user.boxes.each do |box|%>
    <a href="/boxes/<%= box.id %>"><% box.name %></a><br>
  <% end %>
<% end %>
