<h1>Create a new Box</h1>

<form action="/boxes" method="post">
  <label for="name">Name:</label>
  <input type="text" name="box[name]" id="name"/>
  <label for="sport">Sport:</label>
  <input type="text" name="box[sport]" id="name"/>
  <input type="submit" value="Create Box"/>
</form>
<br>
<a href="/">Go Home</a>
