<h1>All of <%= @user.name %>'s Items</h1>

<div id="container">
  <form action="/items/new" method="get">
    <input type="submit" value="Create Item"/>
  </form>
</div>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
<% @user.items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
    </tr>
<% end %>
</table>

